* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(76, 77, 80);
}

nav {
    display: flex;
    background-color: rgba(13, 13, 13, 0.397);
    height: 14vh;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-wrapper {
    margin: 20px;
    padding-left: 70px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 26px;
}

li {
    letter-spacing: 4px;
    margin-left: 14px;
    text-decoration: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
}

a:hover {
    opacity: 0.7;
}

h1 {
    color: white;
}

.input-wrapper {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    background-color: #ffffff;
}

.input-wrapper i {
    color: #beaaaa;
    cursor: pointer;
}

.input-wrapper input {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.input-wrapper input:focus-visible {
    outline: none;
}
.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}


.logo {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 6px 7px black;
    padding-top: 2px;
}

.lupa {
    height: 30px;
}

.imagemprincipal {
    height: 600px;
    width: 800px;
    margin-top: 0px;
}

/* Estilos do Carrossel */
.carousel-container {
    width: 600px;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
    z-index: 2;
}

.next {
    right: 10px;
    z-index: 2;
}

/* Estilos dos radio buttons */
.radio-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.radio-buttons input {
    margin: 0 5px;
    cursor: pointer;
}

.radio-buttons input:checked {
    background-color: #4682B4;
}
.footer-content {
    background-color: rgba(13, 13, 13, 0.397);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: -300px;
    width: 100%;    
}
.contatos{
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;  /* empilha os carrosséis verticalmente */
    align-items: center;     /* centraliza todos os elementos dentro do main */
    gap: 30px;               /* espaçamento entre os carrosséis */
}

.ajuda main {
    display: flex;
    flex-direction: column;  /* empilha os carrosséis verticalmente */
    align-items: center;     /* centraliza todos os elementos dentro do main */
    gap: 30px;               /* espaçamento entre os carrosséis */
}	
h2 {
    color: white;
    font-style:italic;
    text-shadow: black -2px -2px 0  ;
    text-align: center;
    margin-top: 20px;
}
p {
    color: white;
    font-style: italic;
    text-shadow: black -2px -2px 0  ;
    text-align: center;
    margin-top: 20px;
    width: 500px;
}

footer{
    position: relative;
    bottom: -300px;
    width: 100%;
}
